<div class="notebook">
  <div class="cover"
  (click)="nextPage()">
      <p>{{nameNotebook}}</p>
  </div>
    <div class="page"
    *ngFor="let page of pageData; let i = index"
    (click)="nextPage()"
    [ngClass]="{'pageActive': currentPage === page.id}"
    > 
    <h1>{{page.headline}}</h1>
    <b>{{page.subtitle}}</b>
    <p>{{page.percent}}</p>
    <p>{{page.text}}</p>
    <strong>{{i}}</strong>
  </div>

</div>
<!-- <a href="#" (click)="toggle = !toggle">Show
    <span>
     <label class="m-0">this</label>
     <span [ngStyle]="{'transform': toggle ? 'rotate(180deg)':''}" class="fa fa-arrow-right"></span>
    </span>
 </a> -->