<div class="notebook">
    <ng-container *ngFor="let page of pageData">
        <div class="page"
          (click)="nextPage()"
          [ngClass]="{pageActive: currentPage > page.id}">
          <div class="pageContent" *ngIf="currentPage === page.id">
              <h1>{{page.headline}}</h1>
              <p><b>{{page.subtitle}}</b></p>
              <p>{{page.percent}}</p>
              <p>{{page.text}}</p>
              <strong>{{page.id}}</strong>  
          </div>
        </div> 
    </ng-container>
</div>